$primary: #029c60;
$primary-dark: #000c08;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/swiper/swiper.scss";
@import "../node_modules/swiper/components/navigation/navigation.scss";
@import "./search-area.scss";
@import "./main-content.scss";
@import "./movie.scss";
@import "./movies.scss";
@import "./nominations.scss";
@import "./sidebar.scss";
@import "./details.scss";
@import "./loader.scss";
@import "./icons.scss";

::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $primary;
}

#__next {
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
