.sidebar {
  position: fixed;
  height: 100vh;
  width: 630px;
  max-width: 100%;
  right: 0;
  transition: 0.3s;
  transform: translateX(150%);
  background-color: $primary-dark;
  color: white;
  z-index: 100;
  box-shadow: -10px 0px 15px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  &.open {
    transform: translateX(0%);
  }
  .text-highlight {
    color: $primary;
  }
}

.close-btn {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 1000;
  font-size: 1.5rem;
}

.sidebar-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.7);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}
